[rhel-7-server-rpms]
name = rhel-7-server-rpms
baseurl = http://{{ repos_server }}/repos/rhel-7-server-rpms
gpgcheck = 0
enabled = 1

[rhel-7-server-extras-rpms]
name = rhel-7-server-extras-rpms
baseurl = http://{{ repos_server }}/repos/rhel-7-server-extras-rpms
gpgcheck = 0
enabled = 1

[rhel-7-server-openstack-8-rpms]
name = rhel-7-server-openstack-8-rpms
baseurl = http://{{ repos_server }}/repos/rhel-7-server-openstack-8-rpms
gpgcheck = 0
enabled = 1

[rhel-7-server-openstack-8-optools-rpms]
name = rhel-7-server-openstack-8-optools-rpms
baseurl = http://{{ repos_server }}/repos/rhel-7-server-openstack-8-optools-rpms
gpgcheck = 0
enabled = 1

[rhel-7-server-openstack-8-director-rpms]
name = rhel-7-server-openstack-8-director-rpms
baseurl = http://{{ repos_server }}/repos/rhel-7-server-openstack-8-director-rpms
gpgcheck = 0
enabled = 1

[rhel-7-server-rh-common-rpms]
name = rhel-7-server-rh-common-rpms
baseurl = http://{{ repos_server }}/repos/rhel-7-server-rh-common-rpms
gpgcheck = 0
enabled = 1

[rhel-ha-for-rhel-7-server-rpms]
name = rhel-ha-for-rhel-7-server-rpms
baseurl = http://{{ repos_server }}/repos/rhel-ha-for-rhel-7-server-rpms
gpgcheck = 0
enabled = 1
